@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#search-input::-webkit-search-cancel-button {
    display: none;
}

#search-input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px rgb(243 244 246) inset;
}

.translate-left {
    transform: translate(-100%);
}

.margin-left-80 {
    margin-left: 20rem;
}

.translate-top {
    transform: translateY(-300%);
}

.translate-top-100 {
    transform: translateY(-100%);
}

.translate-down {
    transform: translateY(0%);
}

.margin-left-none {
    margin-left: 0;
}

.height-none {
    height: 0;
}

.height-28 {
    height: 7rem;
}

.cloudy {
    background: #54416d;
}

.rainny {
    background: rgb(28,43,70);
}

.thunder {
    background: #2b235a;
}

.sunny {
    background: #8fe0ff;
}

.overcast {
    background: rgb(18,30,51);
}

.mist {
    background: rgb(59,81,121);
}

.clear {
    background: rgb(30,88,107);
    background: linear-gradient(90deg, rgba(30,88,107,1) 24%, rgba(48,113,157,1) 100%);
}

.background-zinc-800 {
    background: rgba(39, 39, 42, 0.7);
}

.margin-top-first:nth-child(1) {
    margin-top: 5rem;
}

.border-sol {
    border: 2px solid white;
}

.custom-gap-5vw {
    gap: 5vw;
}

.custom-gap-4vw {
    gap: 4vw;
}

.show-content {
    height: 10rem;
    padding: 1rem;
}

.custom-gray {
    background-color: #f3f4f655;
}
