@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#search-input::-webkit-search-cancel-button {
    display: none;
}

#search-input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px rgb(243 244 246) inset;
}

.translate-left {
    transform: translate(-100%);
}

.margin-left-80 {
    margin-left: 20rem;
}

.translate-top {
    transform: translateY(-300%);
}

.translate-down {
    transform: translateY(0%);
}

.margin-left-none {
    margin-left: 0;
}

.height-28 {
    height: 7rem;
}