@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#search-input::-webkit-search-cancel-button {
    display: none;
}

#search-input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px rgb(243 244 246) inset;
}

.translate-left {
    transform: translate(-100%);
}

.translate-top {
    transform: translateY(-300%);
}

.margin-top-none {
    margin-top: 0 !important;
}

.margin-left-none {
    margin-left: 0 !important;
}

.height-none {
    height: 0 !important;
}